@{
    ViewBag.Title = "Додади пациент";
    var doctor = ViewBag.Doctor as HospitalAppointmentApp.Models.Doctor;
}

<h3>Додади пациент за доктор: @doctor?.Name</h3>

@using (Html.BeginForm())
{
    @Html.Hidden("doctorId", doctor?.Id)

    <div class="form-group">
        @Html.Label("Избери пациент")
        @Html.DropDownList("patientId", ViewBag.PatientId as SelectList, "Избери", new { @class = "form-control" })
    </div>

    <input type="submit" value="Додади" class="btn btn-primary" />
}
